/* ProjectCarousel.css */
.project-carousel {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-slide {
  text-align: center;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-description {
  margin-top: 20px;
  text-align: left;
}

.project-description h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-description p {
  font-size: 1rem;
  line-height: 1.5;
}
